
<h2 class="text-center w-50 p-5">Create a user form. I think there will be 2 pages. First page will contain SignUp Form (FirstName, LastName, Email)
    Store it in a database table. then go to the next page. The set of questions will be shown here.
</h2>